@use "./theme";
@use "sass:math";

@mixin button-base($colorName) {
  padding: math.div(theme.$spacing, 2) theme.$spacing;
  border: 2px solid theme.color($colorName, "800");
  border-radius: theme.shape("border-radius");

  background-color: theme.color($colorName, "900");
  color: theme.color($colorName, "contrastText");

  &:hover {
    background-color: theme.color($colorName, "800");
  }

  &:active {
    background-color: theme.color($colorName, "700");
  }
}

button {
  @include button-base("primary");
};

button.success {
  @include button-base("success");
}

button.error {
  @include button-base("error");
}