extends layout

block content
  form(action="/post", method="post") 
    label(for="post-title") Title:
    input(type="text", name="name")#post-title
    label(for="post-content")
    input(type="text", name="content")#post-content
